* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider-container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin-top: 8%;
  padding: 20px;
}
.slider-container .btn-container,
.slider {
  margin: 10px;
}
.slider-container .slider {
  width: 22rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  border: none;
  border-radius: 10px;
  position: relative;
}
.slider-container .slider .slider-text {
  margin: 15px;
  color: white;
  opacity: 0.8;
  position: absolute;
  top: 60%;
}
.slider .slider-text b {
  color: orange;
  font-family: monospace;
  font-size: 16px;
}
.slider .slider-text .title {
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
}
.slider .slider-text .type {
  color: orange;
  text-transform: uppercase;
  font-size: 14px;
  font-family: monospace;
}
.slider .slider-text div {
  padding: 4px;
}
.slider-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container button {
  width: 2.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  background-color: orange;
}
.btn-container button:hover {
  cursor: pointer;
}
.btn-container button i {
  font-size: 1.5rem;
}
.pagination-container {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-container .pagination-btn {
  margin: 5px;
  padding: 5px;
  width: 2.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 10px;
  background: transparent;
  font-size: 16px;
}
.pagination-btn:hover {
  background-color: orange;
  cursor: pointer;
}
.pagination-btn:hover b {
  color: black;
}
.active b {
  color: orange;
  font-size: 18px;
}
