* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 8%;
  padding: 20px;
}
.slider-container .btn-container,
.slider {
  margin: 10px;
}
.slider-container .slider {
  width: 20rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('./img/dessert.jpeg');
  background-size: cover;
  border: none;
  border-radius: 10px;
}
.slider-container .slider .slider-text {
  margin: 15px;
}
.slider-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container button {
  width: 2.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  background-color: orange;
}
.btn-container button i {
  font-size: 1.5rem;
}
.pagination-container {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-container .pagination-btn {
  margin: 5px;
  padding: 5px;
  width: 2.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 10px;
}
.pagination-btn:hover {
  background-color: orange;
  cursor: pointer;
}
